<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('templates/head') %>
    <style>
    </style>
  </head>
  <body>

    <small-page-viewer></small-page-viewer>

    <path-fetcher></path-fetcher>
    <query-params-fetcher></query-params-fetcher>
    <small-router></small-router>

    <%- include('templates/scripts') %>
  </body>
</html>