<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('templates/head') %>
    <style>
    </style>
  </head>
  <body>

    <path-fetcher></path-fetcher>
    <query-params-fetcher></query-params-fetcher>
    <small-lazy></small-lazy>

    <%- include('templates/scripts') %>
  </body>
</html>